@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/forms";
@import "bootstrap/global";
@import "bootstrap/grid";
@import "bootstrap/helpers";
@import "bootstrap/images";
@import "bootstrap/layout";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/navbar";
@import "bootstrap/typography";
@import "bootstrap/utilities";
@import "bootstrap/variables";
@import "pages/icons";
$color-beige: #BEA673;
$color-white: #FFF;
$color-black: #000;
