.product {
  background-color: $color-light;
  text-align: center;
  

  &-wrapper {
    padding: 85px 0 0 0;
  }

  &-header {
    letter-spacing: 8px;
    margin-bottom: 162px;
  }
}

h2 {
  color: $color-header;

  &::after {
    display: flex;
    position: absolute;
    text-align: center;
    content: '';
    width: 400px;
    height: 6px;
    background-color: $color-header;
    margin-left: 270px;
  }
}

.feature-pair:nth-child(odd) {
  flex-direction: row-reverse;
}

.feature-pair {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 64px;
}

.product-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.product-description h3 {
  &::after {
    display: flex;
    position: absolute;
    text-align: center;
    content: '';
    width: 50px;
    height: 6px;
    background-color: $color-header;
  }
}

.feature-image img{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  margin: auto;
  max-width: 100%;
  height: auto;

}

.features {
  margin: 64px 10px;
}

.parameters {
  font-weight: bold;
}

.parameters span {
  color: $color-header;
}

.badge {
  visibility: hidden;  
  display: flex;
  margin-left: 250px;
}

.visible {
  visibility: visible;
}

@media (max-width: 599px) {

  .product{
    display: flex block;
  }
}


